# fly.toml app configuration file generated for playme-md on 2026-01-15T12:52:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'playme-md'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
